/* Header.js */
header{
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #132c10 1.18%, #26d3a5 100%);
  padding: 20px;
display: flex;
align-items: center;
color: white;
}

header > h4 {
  font-family: 'Inter', sans-serif;
font-size: .75rem;
font-weight: 500;
margin-right: 37px;
}

.header-logo{
display: flex;
align-items: center;
font-size: 1.25rem;
font-family: 'Karla', sans-serif;
margin-right: auto;
font-weight: 700;
}

.header-logo-img {
  height: 31px;
  pointer-events: none;
}

/*Meme.js*/
.meme-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 36px;
}

.meme-form-inputs{
  display: flex;
  flex-direction: row;
  
width: 100%;
gap: 17px;
}

.meme-form-inputs > input{
  width: 100%;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid rgba(213, 212, 216, 1);
  text-indent: 5px;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.form--button{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
 
  color: white;
  padding: 10px;
  background: linear-gradient(90deg, #0e006a 1.18%, #11ddcf 100%);
 
}

.meme {
  position: relative;
}

.meme--image{
  max-width: 100%;
  border-radius: 3px;
}

/*.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
}*/

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: righteous, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  text-shadow:
      3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000,
      -3px 3px 0 #000,
      0 3px 0 #000,
      3px 0 0 #000,
      0 -3px 0 #000,
      -3px 0 0 #000,
      3px 3px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}